export SHELL=/bin/bash
export DOCKER_ACCOUNT="v8tix"
export BIN_NAME="payments"
export TAG="v1.0.0"
export BIN_IMAGE_TAG="${DOCKER_ACCOUNT}/${BIN_NAME}:${TAG}"
export CPUS=1
export MEMORY=256m
export CURRENT_TIME=$(shell date --iso-8601=seconds)
export REPO_URL="git@github.com:v8tix/mallbots-payments.git"
export REPO_DIR="mallbots-payments"
export DOCKER_SRC=/docker/src
export DOCKER_BUILD=/docker/build
export DOCKER_BUILD_SCRIPTS=/docker/build/scripts
export DOCKER_CONFIG=/docker/configuration
export API_DIR=./cmd
export HOST_SECRETS_DIR=/home/v8tix/Public/projects/v8tix/microservices/environments/cloud/mallbots/common
export CNTR_SECRETS_DIR=/home/v8tix/secrets
export CONFIG_FILE_NAME=config
export HOST_API_PORT=8086
export CNTR_API_PORT=8080